  <form class="d-flex input-group w-auto" method="get" action="{% url 'searchresult' %}">
                            <input
                            name="q"
                              type="search"
                              class="form-control rounded"
                              placeholder="Search"
                              aria-label="Search"
                              aria-describedby="search-addon"
                            />
                            <span class="input-group-text border-0" id="search-addon">
                              <i class="fas fa-search"></i>
                            </span>
                            <button type="submit">add</button>
                            
    </form>