{% extends 'base.html' %}
{% load static %}

{% block main %}
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">UBold</a></li>
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Ecommerce</a></li>
                                            <li class="breadcrumb-item active">Customers</li>
                                        </ol>
                                    </div>
                                    <h4 class="page-title">Customers</h4>
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->
                        <div class="table-responsive">
                                            <table class="table table-centered table-striped dt-responsive nowrap w-100" id="products-datatable">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 20px;">
                                                            <div class="form-check">
                                                                <input type="checkbox" class="form-check-input" id="customCheck1">
                                                                <label class="form-check-label" for="customCheck1">&nbsp;</label>
                                                            </div>
                                                        </th>
                                                        <th>Name</th>
                                                        <th>StartDate</th>
                                                        <th>yil_mal</th>
                                                        <th>oy_mal</th>
                                                        <th>kun_mal</th>
                                                        <th>soat_mal</th>
                                                        <th>viloyat</th>
                                                        <th>tuman</th>
                                                        <th style="width: 70px;">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                   {% for pump in pumps %}
                                                        <tr>
                                                            <td>
                                                                <div class="form-check">
                                                                    <input type="checkbox" class="form-check-input" id="customCheck2">


                                                                    {% comment %} <label class="form-check-label" for="customCheck2">ABC</label> {% endcomment %}
                                                                </div>
                                                            </td>
                                                            <td class="table-user">
                                                                <img src="{{ pump.image.url }}" alt="table-user" class="me-2 rounded-circle">
                                                                <a href="javascript:void(0);" class="text-body fw-semibold">{{ pump.name }}</a>
                                                            </td>
                                                            <td>{{ pump.StartDate }}</td>
                                                            <td>
                                                                ${{ pump.umumiy_mal }}
                                                            </td>
                                                            <td>
                                                            <small class="text-muted"> {{ pump.oy_mal }}</small>
                                                            </td>
                                                            <td>
                                                              <small class="text-muted">{{ pump.kun_mal }}</small>
                                                            </td>
                                                            <td>
                                                             <small class="text-muted">{{ pump.soat_mal }}</small>
                                                             </td>
                                                            <td>
                                                                {{ pump.province }}
                                                            </td>
                                                            <td>
                                                                {{ pump.subprovince }}
                                                            </td>

                                                            <td>

                                                                <a href="{%url 'pump_delete' pk=pump.pk %}" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                                            </td>
                                                        </tr>


                                                   {% endfor %}

                                                </tbody>
                                            </table>
                                        </div>
                                    </div> <!-- end card-body-->
                                </div> <!-- end card-->
                            </div> <!-- end col -->
                        </div>
                        <!-- end row -->

                    </div> <!-- container -->

                </div> <!-- content -->
{% endblock main %}